
img{
    width: 33.33%;
    height: 350px;
    float: left;
}
div{
    width:66.67%;
    margin-left: 16.67%;
    margin-right: 16.67%;
}
body{
    text-align: center;
    font-family: "Comic Sans MS";
    color: #c40808;
    background-image: radial-gradient(#ffffff 0%,#c40808 50%,#000000 90%);
    background-repeat: no-repeat;
    min-height: 100%;
}
html{
    min-height: 100%;
}