#heading{
    font-size:75;
    margin-top:20%;
    margin-left:40%;
    opacity:.25;
}
#start{
    font-size:75;
    margin-left:46.5%;
}
.hide{
    display:none;
}

#b1{
    height: 10%;
    width: 10%;
    left: 0px;
}
body{
    background-color:red;
}
#balls{
    height:100%;
    width:100%;
}